#trailer {
  width: 2.3rem;
  height: 2.3rem;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

*:hover > #trailer {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;

  opacity: 0;
  transition: opacity 400ms ease;
}

#trailer:not([data-type='']) > #trailer-icon {
  opacity: 1;
}
